.menu_page_content1_box{
    height: 260px;
    min-width: 180px;
    background-color: white;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: space-around;
    /* margin: 0 35px 0 0; */
}

.menu_page_content1_box::-webkit-scrollbar{
    outline: none;
}

.menu_page_content1_box_img{
    height: 170px;
    width: 100%;
}

.menu_page_content1_box_name{
    font-size: 1.1rem;
    font-weight: 600;
}


@media (min-width: 768px) and (max-width: 1024px) {
    .menu_page_content1{
        padding-top: 6rem;
        padding-bottom: 3rem;
    }
    .menu_page_content1_title {
        font-size: 1.4rem;
    }
    .menu_page_content1_box{
        height: 150px;
        min-width: 100px;
    }
    .menu_page_content1_box_img{
        height: 90px;
        width: 90px;
    }
    .menu_page_content1_box_name{
        font-size: 0.8rem;
        font-weight: 600;
    }
}
@media (min-width: 425px) and (max-width: 768px) {
    .menu_page_content1{
        padding-top: 6rem;
        padding-bottom: 3rem;
    }
    .menu_page_content1_title {
        font-size: 1.4rem;
    }
    .menu_page_content1_box{
        height: 150px;
        min-width: 100px;
    }
    .menu_page_content1_box_img{
        height: 90px;
        width: 90px;
    }
    .menu_page_content1_box_name{
        font-size: 0.8rem;
        font-weight: 600;
    }
    .menu_page_content1_box_list{
        overflow: auto;
    }
}
@media (min-width: 375px) and (max-width: 424px) {
    .menu_page_content1{
        padding-top: 6rem;
        padding-bottom: 3rem;
    }
    .menu_page_content1_title {
        font-size: 1.2rem;
    }
    .menu_page_content1_box{
        height: 140px;
        min-width: 90px;
    }
    .menu_page_content1_box_img{
        height: 80px;
        width: 80px;
    }
    .menu_page_content1_box_name{
        font-size: 0.7rem;
        font-weight: 600;
    }
    .menu_page_content1_box_list{
        overflow: auto;
    }
}
@media (max-width: 374px){
    .menu_page_content1{
        padding-top: 6rem;
        padding-bottom: 1.5rem;
    }
    .menu_page_content1_title {
        font-size: 0.8rem;
    }
    .menu_page_content1_box{
        height: 120px;
        min-width: 80px;
    }
    .menu_page_content1_box_img{
        height: 60px;
        width: 60px;
    }
    .menu_page_content1_box_name{
        font-size: 0.5rem;
        font-weight: 600;
    }
    .menu_page_content1_box_list{
        overflow: auto;
    }
}