.shopping_card_page_content1_item{
    background-color: #F9F9F9;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 17px;
    width: 100%;
}

.shopping_card_page_content1_item_top{
    width: 90%;
    margin: 16px 0;
    border-radius: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.shopping_card_page_content1_item_img{
    width: 100%;
    height: 200px;
    border-radius: 1rem;
    object-fit: cover;
}

.shopping_card_page_content1_item_bottom{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.shopping_card_page_content1_item_name_price{
    width: 90%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.shopping_card_page_content1_item_name{
    font-size: 1rem;
    font-weight: 400;
}

.shopping_card_page_content1_item_price{
    font-size: 1rem;
    font-weight: 400;
    color: var(--shopping-cart-yellow-color);
}

.shopping_card_page_content1_item_desc{
    width: 90%;
    font-size: 0.75rem;
    margin-top: 0.5rem;
    color: var(--shopping-cart-dark-gray-color);
}

.shopping_card_page_content1_item_counter_box{
    width: 90%;
    margin-top: 1.5rem;
    margin-bottom: 1rem;
}

.shopping_card_page_content1_item_counter{
    display: flex;
}

.shopping_card_page_content1_item_counter_minus{
    height: 40px;
    width: 40px;
    background-color: #F3F3F3;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 3px;
}

.shopping_card_page_content1_item_counter_minus p{
    color: var(--shopping-cart-dark-gray-color);
    font-size: 1.2rem;
}

.shopping_card_page_content1_item_counter_text{
    height: 40px;
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 3px;
}

.shopping_card_page_content1_item_counter_text p{
    color: var(--black-color);
    font-size: 1rem;
}

.shopping_card_page_content1_item_counter_plus{
    height: 40px;
    width: 40px;
    background-color: var(--shopping-cart-yellow-color);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 3px;
    cursor: pointer;
}

.shopping_card_page_content1_item_counter_plus p{
    color: var(--white-color);
    font-size: 1.2rem;
}

.shopping_card_page_content1_item_subtotal_div{
    width: 90%;
    display: flex;
    justify-content: space-between;
    margin: 1rem 0;
}

.shopping_card_page_content1_item_hr{
    height: 0.5px;
    width: 90%;
    border: none;
    background-color: #999999;
}

.shopping_card_page_content1_item_subtotal_text{
    font-size: 0.8rem;
    color: var(--shopping-cart-dark-gray-color);
}

.shopping_card_page_content1_item_sub_text{
    font-size: 1rem;
    color: var(--shopping-cart-yellow-color);
}



@media (min-width: 424px) and (max-width: 768px) {
    .shopping_card_page_content1_item_img{
        width: 100%;
        height: 110px;
    }
    .shopping_card_page_content1_flex{
        flex-direction: column;
    }
    .shopping_card_page_content1_items_div{
        width: 100%;
        margin-bottom: 1.5rem;
    }
    .shopping_card_page_content1_sidebar{
        /* display: none; */
        width: 100%;
        margin: 0;
        position: relative;
        bottom: 0%;
    }
}

@media (max-width: 426px) {
    .shopping_card_page_content1{
        padding-top: 6rem;
        padding-bottom: 0rem;
    }
    .shopping_card_page_content1_title{
        font-size: 1.2rem;
    }
    .shopping_card_page_content1_flex{
        flex-direction: column;
    }
    .shopping_card_page_content1_items_div{
        width: 100%;
        margin-bottom: 1.5rem;
        grid-template-columns: repeat(1, 1fr);
        gap: 1.5rem;
        margin-top: 1rem;
    }
    .shopping_card_page_content1_sidebar{
        /* display: none; */
        width: 100%;
        margin: 0;
        position: relative;
        bottom: 0%;
        left: 0;
    }
    .shopping_card_page_content1_item{
        flex-direction: row;
    }
    .shopping_card_page_content1_item_img{
        width: 100%;
        height: 110px;
    }
    .shopping_card_page_content1_item_name{
        font-size: 0.8rem;
    }
    .shopping_card_page_content1_item_price{
        font-size: 0.8rem;
    }
    .shopping_card_page_content1_item_desc{
        display: none;
    }
    .shopping_card_page_content1_item_counter_minus{
        height: 30px;
        width: 30px;
    }
    
    .shopping_card_page_content1_item_counter_minus p{
        font-size: 1rem;
    }
    
    .shopping_card_page_content1_item_counter_text{
        height: 30px;
        width: 30px;
    }
    
    .shopping_card_page_content1_item_counter_text p{
        font-size: 0.8rem;
    }
    
    .shopping_card_page_content1_item_counter_plus{
        height: 30px;
        width: 30px;
    }
    
    .shopping_card_page_content1_item_counter_plus p{
        font-size: 1rem;
    }
    .shopping_card_page_content1_item_counter_box {
        margin-top: 0rem;
        margin-bottom: 0.6rem;
    }
    .shopping_card_page_content1_item_subtotal_div{
        margin: 0.6rem 0;
    }
    .shopping_card_page_content1_item_subtotal_text{
        font-size: 0.7rem;
    }
    .shopping_card_page_content1_item_sub_text{
        font-size: 0.8rem;
    }
    .shopping_card_page_content1_item_name_price{
        margin: 0.6rem;
    }
}