.order_container{
    display: flex;
    /* flex mt-6 mb-10 */
}

.order_list{
    display: flex;
    flex-direction: column;
    width: 300px;
    align-items: start;
    gap: 0.75rem;
    margin-top: 2rem;
    /* flex flex-col w-[300px] items-start gap-3 mt-8 */
}

.order_hr{
    height: auto;
    margin: 2px;
    width: 2px;
    background-color: var(--shopping-cart-yellow-color);
    /* h-auto m-[2px] w-[2px] bg-[color:var(--yellow-color)] */
}

.order_item_container{
    display: flex;
    flex-direction: column;
    margin-left: 1.5rem;
    margin-top: 0.75rem;
    /* flex flex-col ml-6 mt-3 */
}

.order_item_name{
    font-size: 1.8rem;
    font-weight: 500;
    /* text-3xl font-medium */
}

.order_item_div{
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    max-height: 700px;
    overflow: auto;
    /* mt-8 flex flex-col gap-6 max-h-[700px] overflow-auto */
}

.popular_recipes_list{
    display: none;
    gap: 2rem;
    justify-content: center;
}

.popular_recipes_button{
    height: 60px;
    width: 140px;
    border-radius: 30px;
    border: none;
    background-color: var(--button-color);
    font-size: 0.85rem;
    font-weight: 550;
    transition: all 0.3s linear 0s;
}

.popular_recipes_button:hover, .selected{
    background-color: var(--shopping-cart-yellow-color);
    color: var(--white-color);
}


@media (min-width: 768px) and (max-width: 1024px) {
    .order_container{
        flex-direction: column;
    }
    .order_list{
        display: none;
    }
    .order_item_name{
        display: none;
    }
    .popular_recipes_list{
        display: flex;
        margin-top: 1rem;
        gap: 0.8rem;
    }
    .popular_recipes_button{
        height: 50px;
        min-width: 100px;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
        padding: 0.4rem;
    }
}

@media (min-width: 425px) and (max-width: 768px) {
    .order_item_container{
        margin-left: 1rem;
    }
    .order_container{
        flex-direction: column;
    }
    .order_list{
        display: none;
    }
    .order_item_name{
        display: none;
    }
    .popular_recipes_list{
        width: 92vw;
        display: flex;
        flex-wrap: wrap;
        gap: 0.5rem;
        margin-top: 1rem;
    }
    .popular_recipes_button {
        height: 40px;
        min-width: 70px;
        max-width: 80px;
        font-size: 0.7rem;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
        padding: 0.4rem;
    }
}

@media (max-width: 425px) {
    .order_item_container{
        margin-left: 0.75rem;
    }
    .order_container{
        flex-direction: column;
    }
    .order_list{
        display: none;
    }
    .order_item_name{
        display: none;
    }
    .popular_recipes_list{
        width: 92vw;
        display: flex;
        flex-wrap: wrap;
        gap: 0.4rem;
        margin-top: 1rem;
    }
    .popular_recipes_button {
        height: 30px;
        min-width: 60px;
        max-width: 70px;
        font-size: 0.6rem;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
        padding: 0.4rem;
    }
}
